<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="include.html :: headerfiles">
        <title id="Ptitle" th:text="#{aboutUs.htmlTitle}"></title>
    </head>

<body>
    <header th:replace="include.html :: headercontent"></header>
    <div class="container">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-2 d-flex justify-content-center">
            <div class="card col p-3 col-12 col-md-6 col-lg-4 bg-white">
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5 text-uppercase text-center">
                        Musker</h4><br><br>
                    <div class="card-img pb-3 d-flex justify-content-center">
                        <img src="/images/MUsker.png" alt="MUBook logo with text"
                            class="bi img-fluid img-about-us" />
                    </div>
                    <p class="mbr-text mbr-fonts-style display-7 mt-3" th:text="#{aboutUs.mubookText}"></p>
                </div>
            </div>
            <div class="card col p-3 col-12 col-md-6 col-lg-4 bg-white">
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5 text-uppercase text-break text-center" th:text="#{aboutUs.socialEngTitle}"></h4>
                    <div class="card-img pb-3 d-flex justify-content-center">
                        <img src="/images/aboutUs/social_engagement.jpg" alt="Social Engagement images"
                            class="bi img-fluid img-about-us" />
                    </div>
                    <p class="mbr-text mbr-fonts-style display-7 mt-3" th:text="#{aboutUs.socialEngText}"></p>
                </div>
            </div>
            <div class="card col p-3 col-12 col-md-6 col-lg-4 bg-white">
                <div class="card-box">
                    <div class="card-title">
                        <h4 class="card-title py-3 mbr-fonts-style display-5 text-uppercase text-center" th:text="#{aboutUs.offeredServicesTitle}"></h4>
                    </div>
                    <div class="card-img pb-3 d-flex justify-content-center mw-90">
                        <img src="/images/aboutUs/services.jpg" alt="Services images"
                            class="bi img-fluid img-about-us" />
                    </div>
                    <div class="card-content-text">
                        <p class="mbr-text mbr-fonts-style display-7 mt-3" th:text="#{aboutUs.offeredServicesText}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="include.html :: footercontent"></footer>
</body>
</html>