<!DOCTYPE html>
<html lang="en">

<head th:replace="include.html :: headerfiles">
    <title id="Ptitle" th:text="#{home.htmlTitle}"></title>
</head>

<body class=" justify-content-center">
    <header th:replace="include.html :: headercontent"></header>
    <div id="carouselExampleCaptions" class="carousel slide container" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div th:each="actualNew, iterator: ${news}" class="carousel-item" th:classappend="${iterator.first}? active">
                <div class="carousel-container container-fluid d-flex justify-content-center align-items-center h-100">
                    <div class="general container-fluid">
                        <div class="text-center">
                            <h3 th:text="${actualNew.title}"> </h3>
                        </div>
                        <div class="general-carousel d-flex justify-content-center align-items-center">
                            <div class="carousel-img d-flex justify-content-center align-items-center col-md-5">
                                <img th:attr="src=@{${actualNew.image}},alt=${actualNew.title}" class="d-block img-fluid p-md-1"/>
                            </div>
                            <div class="carousel-text d-flex justify-content-center align-items-center col-md-6">
                                <div class="carousel-description col-md-6">
                                    <div class="accordion" th:id="'accordion'+${iterator.index}">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" th:id="'heading'+${iterator.index}">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                        aria-expanded="true" th:attr="aria-controls='collapse'+${iterator.index}, data-bs-target='#collapse'+${iterator.index}">
                                                    More info
                                                </button>
                                            </h2>
                                            <div th:id="'collapse'+${iterator.index}" class="accordion-collapse collapse " th:attr="aria-labelledby='heading'+${iterator.index},
                                                    data-bs-parent='#accordion'+${iterator.index}">
                                                <div class="accordion-body text-dark" th:text="${actualNew.description}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form sec:authorize= "hasAnyRole('ADMIN','WORKER')" name="new-delete" th:action="@{'/news/delete?id=' + ${actualNew.newsid}}"  method="post">
                                        <div class="center-trash d-flex justify-content-center">
                                            <button type="submit" class="btn ">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                                     class="bi bi-trash fluid" viewBox="0 0 16 16">
                                                    <path
                                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd"
                                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <footer th:replace="include.html :: footercontent"></footer>
</body>

</html>