<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include.html :: headerfiles">
    <title id="Ptitle" th:text="#{reservation.htmlTitle}"></title>
</head>

<body>
<header th:replace="include.html :: headercontent"></header>
<h4 th:text="${error}" class="container errorMsg"></h4>
<div class="container rounded bg-white mt-3 mb-3 border center">
    <div class="d-flex justify-content-center">
        <form name="reservation-form" th:action="@{/reservas/add}" th:object="${reserva}" method="post">
            <h3 class="text-center m-2" th:text="#{reservation.details}"></h3>
            <div class="d-flex justify-content-center align-items-center col-md-6">
                <div class="row m-4 details-div d-flex justify-content-center">
                    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-3 row-cols-lg-4 d-flex gap-3">
                        <div class="col-6 flex-grow bg-grey each-specification-div shadow p-1 mb-2 bg-body border rounded d-flex">
                            <label class="text-dark" th:text="#{visita.visita}"></label> <label
                                th:text="${reserva.visita.visitaId}"></label>
                            <input type="hidden" th:field="*{visita.visitaId}">
                        </div>
                    </div>
                    <div class="dates row mb-2">
                        <hr/>
                        <div class="start-date-div col-md text-center">
                            <h5 class="mb-2 text-center align-middle" th:text="#{visita.fecha}"></h5>
                            <p type="date" class="m-2 text-center fluid w-75" th:text="${#dates.format(reserva.visita.fecha, 'yyyy-MM-dd')}"/>
                        </div>
                        <div class="username-div col-md text-center">
                            <h5 class="mb-2 text-center align-middle" th:text="#{reservation.userId}"></h5>
                            <input class="m-2 fluid w-75 text-center" th:field="*{user.userId}"
                                   th:attr="value=${reserva.user != null? reserva.user.userId:''}"
                                   sec:authorize="hasAnyRole('USER')" readonly/>
                        </div>
                    </div>
                    <div class="dates row mb-1">
                        <hr/>
                        <div class="start-date-div col-md text-center">
                            <h5 class="mb-2 text-center align-middle" th:text="#{visita.cantidad}"></h5>
                            <input type="number" min="1" th:max="${maximo}" class="m-2 text-center fluid w-75"
                                   th:field="*{cantidad_personas}" th:attr="value=${reserva.cantidad_personas}"/>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary salmon trackGrafana" grafanaId="28"
                                id="create-reservation-btn" th:text="#{reservation.confirm}"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:replace="include.html :: footercontent"></footer>
</body>

</html>