<!DOCTYPE html>
<html lang="en">

<head th:replace="include.html :: headerfiles">
    <title id="Ptitle">My profile</title>
</head>

<body>
    <header th:replace="include.html :: headercontent"></header>
    <h4 th:text="${error}" class="container errorMsg"></h4>
    <div class="container rounded bg-white mt-5 mb-5 border center">
        <div class="row justify-content-center">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <span class="font-weight-bold" th:text="${userEdit.username}"></span>
                    <span class="text-black-50" th:text="#{profile.id}"><span class="user-id" th:text="${userEdit.userId}"></span> </span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <form name="user-profile-form" th:action="@{'/user/edit'}" th:object="${userEdit}" method="post">

                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right" th:text="#{profile.settings}"></h4>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-6"><label class="labels" th:text="#{profile.id}"></label><input type="text"
                                    class="form-control" th:field="*{userId}"
                                    th:attr="value=${userEdit.userId != null? userEdit.userId:''}" readonly></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels" th:text="#{profile.name}"></label><input type="text"
                                    class="form-control" th:field="*{nombre}"
                                    th:attr="value=${userEdit.nombre != null? userEdit.nombre:''}" readonly></div>
                            <div class="col-md-6"><label class="labels" th:text="#{profile.surname}"></label><input type="text"
                                    class="form-control" th:field="*{apellido}"
                                    th:attr="value=${userEdit.apellido != null? userEdit.apellido:''}" readonly></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels" th:text="#{profile.email}"></label><input type="email"
                                    class="form-control" th:field="*{email}"
                                    th:attr="value=${userEdit.email != null? userEdit.email:''}" autofocus></div>
                            <div class="col-md-12"><label class="labels" th:text="#{profile.username}"></label><input type="text"
                                    class="form-control" th:field="*{username}"
                                    th:attr="value=${userEdit.username != null? userEdit.username:''}"></div>
                        </div>
                        <div class="row mt-3">
                            <h5>Change Password</h5>
                            <div class="col-md-6"><label class="labels" th:text="#{profile.password}"></label><input type="password"
                                    class="form-control" placeholder="" value="" id="password" name="password"></div>
                            <div class="col-md-6"><label class="labels" th:text="#{profile.repeatPassword}"></label><input type="password"
                                    class="form-control" value="" placeholder="" id="passwordRep" name="passwordRep">
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn salmon" type="submit" th:text="#{profile.saveProfile}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <footer th:replace="include.html :: footercontent"></footer>
</body>

</html>